#login-div {
    padding-top: 1rem;
}

#date-div {
    display: none;
    padding-top: 1rem;
}

h1 {
    text-align: center;
}

.tour_list {
    padding-left: 5rem;
}

.list {
    padding-bottom: 2rem;
}

.list input {
    margin-bottom: 1rem;
}