h1 {
    font-size: 50px;
    font-family: 'Rock Salt', cursive;
    word-spacing: 1rem;
}

h2 {
    font-family: 'Rock Salt', cursive;
    word-spacing: 0.5rem;
}
/* 
em {
    color: #f5cd80;
} */

p, a {
    font-family: caviar_dreamsregular;
}

#main section {
    position: relative;
    height: 100vh;
}

a:hover {
    cursor: url("../Assets/Images/cursors/cursor_hover.png"), auto;
    width: 100%;
}

/*********MENU***********/

.menu {
    text-align: center;
    letter-spacing: 1rem;
    color: #ECF3B7;
    position: absolute;
    top: 2.2rem;
    right: 2.2rem;
    z-index: 2;
}

.menu h1 {
    font-size: 26px;
    padding-bottom: 0.75rem;
}

.menu button {
    background-color: Transparent;
    border: none;
    cursor: url("../Assets/Images/cursors/cursor_hover.png"), auto;
    margin-bottom: 0.1rem;
    outline:none;
}

.menu #menu-div {
    display: none;
    /* background-color: rgba(255, 255, 255, 0.2); */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.menu #menu-div div {
    letter-spacing: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu #menu-div div:nth-of-type(2),
.menu #menu-div div:nth-of-type(4) {
    -ms-flex-item-align: end;
        align-self: flex-end;
}

.menu #menu-div a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: black;
    text-shadow: white 0.1em 0.1em 0.2em;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 0.5rem;
} 

.menu #menu-div a img {
    padding-right: 1rem;
}

.menu #menu-div div:nth-of-type(2) img,
.menu #menu-div div:nth-of-type(4) img{
    padding-right: 0rem;
    padding-left: 1rem;
}

/*********ACCUEIL************/

#accueil {
    background-image: url("../Assets/Images/backgrounds/accueil.jpg");
    background-size: 100% 100%;
    color: #ECF3B7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#accueil #oeuf {
    position: absolute;
    top: 7.5rem;
    left: 6.25rem;
    z-index: 1;
}

#accueil #chien {
    position: absolute;
    right: 16.9rem;
    top: 1.6rem;
    z-index: 1;
}

#accueil #scroll {
    position: absolute;
    bottom: 1.6rem;
    z-index: 1;
}

#accueil h1 {
    letter-spacing: 1.5rem;
    font-size: 100px;
    text-align: center;
    position: absolute;
    z-index: 2;
}

/*********PRES ARTISTES***********/

.presentation {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.presentation .portrait {
    margin-bottom: 3.4rem;
    margin-left: 1.125rem;
    z-index: 1;
}

.presentation-artistes {
    background-image: url("../Assets/Images/backgrounds/presentation_bg.jpg");
    background-size: 100% 100%;
    z-index: 0;
}

.presentation-artistes .text {
    padding-left: 3.5rem;
    padding-right: 14rem;
    padding-bottom: 17.9rem;
    max-width: 44.625rem;
}

.presentation-artistes p {
    color: #ffffff;
    padding-bottom: 2rem;
    font-size: 22px;
}

.presentation-artistes h1 {
    color: #ECF3B7;
    font-size: 45px;
    margin-bottom: 2rem;
    line-height: 4.28rem;
}

.presentation-artistes #cubes {
    position: absolute;
    left: 19.43rem;
    top: -4rem;
    z-index: 3;
}

#vagues {
    position: absolute;
    bottom: 0rem;
    width: 100%;
    z-index: 1;
}

#nuages-pres {
    position: absolute;
    bottom: -0.25rem;
    width: 100%;
    z-index: 2;
}

/******PRES ALBUM*********/

#presentation-album {
    background-image: url("../Assets/Images/backgrounds/presentation_album.jpg");
    background-size: 100% 100%;
}

#presentation-album h1 {
    color: #265993;
    padding: 2.68rem 0rem 1.5rem 3.25rem;
    line-height: 4.75rem;
}

#presentation-album p {
    color: black;
    font-size: 22px;
    max-width: 860px;
    padding-left: 3.25rem;
    padding-right: 2.8rem;
    padding-bottom: 2rem;
}

#album-container {
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

#album-container .text{
    background-color: rgba(255, 255, 255, 0.4);
    margin-right: 10.625rem;
    margin-bottom: 4.125rem;
    max-height: 639px;
}

#album-container .img-div {
    margin-left: 3.625rem;
    margin-right: 6.375rem;
}

#presentation-album #cover-one {
    position: absolute;
    bottom: 41.125rem;
    right: 43.06rem;
    -webkit-animation-name: cover_one;
            animation-name: cover_one;
    -webkit-animation-duration: 16s;
            animation-duration: 16s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
}

@-webkit-keyframes cover_one {
    0%   {right:43.06rem; bottom:41.125rem;}
    25%   {right:43.06rem; bottom:42.125rem; -webkit-transform: rotate(10deg); transform: rotate(10deg)}
    50%  {right:43.06rem; bottom:41.125rem;}
    75%   {right:43.06rem; bottom:42.125rem; -webkit-transform: rotate(-10deg); transform: rotate(-10deg)}
    100% {right:43.06rem; bottom:41.125rem; -webkit-transform: rotate(0deg); transform: rotate(0deg)}
}

@keyframes cover_one {
    0%   {right:43.06rem; bottom:41.125rem;}
    25%   {right:43.06rem; bottom:42.125rem; -webkit-transform: rotate(10deg); transform: rotate(10deg)}
    50%  {right:43.06rem; bottom:41.125rem;}
    75%   {right:43.06rem; bottom:42.125rem; -webkit-transform: rotate(-10deg); transform: rotate(-10deg)}
    100% {right:43.06rem; bottom:41.125rem; -webkit-transform: rotate(0deg); transform: rotate(0deg)}
}

#presentation-album #cover-two {
    position: absolute;
    bottom: 45.5rem;
    right: 22.81rem;
    -webkit-animation-name: cover_two;
            animation-name: cover_two;
    -webkit-animation-duration: 16s;
            animation-duration: 16s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

@-webkit-keyframes cover_two {
    0%   {right:22.81rem; bottom:45.5rem;}
    25%   {right:22.81rem; bottom:46.5rem; -webkit-transform: rotate(-10deg); transform: rotate(-10deg)}
    50%  {right:22.81rem; bottom:45.5rem;}
    75%   {right:22.81rem; bottom:46.5rem; -webkit-transform: rotate(10deg); transform: rotate(10deg)}
    100% {right:22.81rem; bottom:45.5rem; -webkit-transform: rotate(0deg); transform: rotate(0deg)}
}

@keyframes cover_two {
    0%   {right:22.81rem; bottom:45.5rem;}
    25%   {right:22.81rem; bottom:46.5rem; -webkit-transform: rotate(-10deg); transform: rotate(-10deg)}
    50%  {right:22.81rem; bottom:45.5rem;}
    75%   {right:22.81rem; bottom:46.5rem; -webkit-transform: rotate(10deg); transform: rotate(10deg)}
    100% {right:22.81rem; bottom:45.5rem; -webkit-transform: rotate(0deg); transform: rotate(0deg)}
}

#presentation-album #cover-three {
    position: absolute;
    bottom: 35.375rem;
    right: 12.125rem;
    -webkit-animation-name: cover_three;
            animation-name: cover_three;
    -webkit-animation-duration: 16s;
            animation-duration: 16s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

@-webkit-keyframes cover_three {
    0%   {right:12.125rem; bottom:35.375;}
    25%   {right:12.125rem; bottom:37.375rem; -webkit-transform: rotate(10deg); transform: rotate(10deg)}
    50%  {right:12.125rem; bottom:35.375;}
    75%   {right:12.125rem; bottom:37.375rem; -webkit-transform: rotate(-10deg); transform: rotate(-10deg)}
    100% {right:12.125rem; bottom:35.375; -webkit-transform: rotate(0deg); transform: rotate(0deg)}
}

@keyframes cover_three {
    0%   {right:12.125rem; bottom:35.375;}
    25%   {right:12.125rem; bottom:37.375rem; -webkit-transform: rotate(10deg); transform: rotate(10deg)}
    50%  {right:12.125rem; bottom:35.375;}
    75%   {right:12.125rem; bottom:37.375rem; -webkit-transform: rotate(-10deg); transform: rotate(-10deg)}
    100% {right:12.125rem; bottom:35.375; -webkit-transform: rotate(0deg); transform: rotate(0deg)}
}

#nuages-album {
    position: absolute;
    top: -0.25rem;
    width: 100%;
    z-index: 2;
}

/*******TRACKLIST********/

#tracklist {
    background-image: url("../Assets/Images/backgrounds/tracklist.jpg");
    background-size: 100% 100%;
    z-index: 1;
}

#tracklist h1 {
    text-align: center;
    color: #f5cd80;
    margin-bottom: 7rem;
    padding-top: 8rem;
}

#tracklist #tracklist-container {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-filter: none;
            filter: none;
}

#tracklist #tracklist-container #first-part,
#tracklist #tracklist-container #second-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

#tracklist #tracklist-container #first-part {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

#tracklist #tracklist-container #first-part div,
#tracklist #tracklist-container #second-part div {
    margin-bottom: 1rem;
}

#tracklist #tracklist-container #second-part {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

#tracklist .gif-apercu {
    position: absolute;
}

#tracklist #tracklist-container .gif-apercu:hover {
    cursor: url("../Assets/Images/cursors/cursor_hover.png"), auto;
    opacity:0;
}

#tracklist #rubikscube {
    position: absolute;
    top: -7.5rem;
    right: 20.56rem;
    z-index: 2;
}

#tracklist #fish-1 {
    position: absolute;
    right: 14.125rem;
    bottom: 17.5rem;
    -webkit-animation-name: fish;
            animation-name: fish;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

#tracklist #fish-2 {
    position: absolute;
    left: 10.25rem;
    bottom: 4.93rem;
    -webkit-animation-name: fish;
            animation-name: fish;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}
/* 
#tracklist #fish-1:hover,
#tracklist #fish-2:hover {
    cursor: url("../Assets/Images/cursors/cursor_hover.png"), auto;
} */

@-webkit-keyframes fish {
    0%   {-webkit-transform: rotate(45deg);transform: rotate(45deg)}
    50% {-webkit-transform: rotate(-45deg);transform: rotate(-45deg)}
    100% {-webkit-transform: rotate(45deg);transform: rotate(45deg)}
}

@keyframes fish {
    0%   {-webkit-transform: rotate(45deg);transform: rotate(45deg)}
    50% {-webkit-transform: rotate(-45deg);transform: rotate(-45deg)}
    100% {-webkit-transform: rotate(45deg);transform: rotate(45deg)}
}

iframe {
    position: absolute;
    visibility: hidden;
    z-index: 1;
    left: 45vw;
    top: 30vh;
}

/*************************/

#festivals {
    background-image: url("../Assets/Images/backgrounds/fetivals.jpg");
    background-size: 100% 100%;
    color: white;
}

#festivals h1 {
    text-align: center;
    color: #dd999c;
    font-size: 45px;
    padding-top: 5.375rem;
    padding-bottom: 5.68rem;
}

#festivals #dates-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

#festivals .dates {
    text-align: right;
    font-size: 35px;
    padding-right: 66.81rem;
    margin-top: -3rem;
}

#festivals .dates:nth-of-type(1) {
    margin-top: 0rem;
}

#festivals #dates-list .dates:nth-of-type(2),
#festivals #dates-list .dates:nth-of-type(4) {
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding-right: 15.31rem;
    margin-top: -3rem;
}

#festivals strong {
    padding-right: 4.75rem;
}

#festivals #location {
    color: #eea71e;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

/*************************/

#footer {
    background-image: url("../Assets/Images/backgrounds/footer.jpg");
    background-size: 100% 100%;
}

#footer #poteau {
    position: absolute;
    bottom: 6.3rem;
    left: 29rem;
    z-index: 0;
}

#footer #cracki {
    position: absolute;
    left: 25.2rem;
    bottom: 37.625rem;
    z-index: 1;
}

#footer #boutique {
    position: absolute;
    left: 39.875rem;
    bottom: 34.75rem;
    z-index: 1;
}

#footer #instagram {
    position: absolute;
    right: 23.25rem;
    bottom: 12rem;
}

#footer #facebook {
    position: absolute;
    right: 19.31rem;
    bottom: 10rem;
}

#footer #soundcloud {
    position: absolute;
    right: 14.875rem;
    bottom: 8rem;
}