#fullpage {
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 50px;
    font-family: 'Rock Salt', cursive;
    word-spacing: 1rem;
}

h2 {
    font-family: 'Rock Salt', cursive;
    word-spacing: 0.5rem;
}

em {
    color: #f5cd80;
}

p {
    font-family: caviar_dreamsregular;
}

#fullpage section {
    position: relative;
    height: 100vh;
}

a:hover {
    cursor: url("../Assets/Images/cursors/cursor_hover.png"), auto;
    width: 100%;
}

/********************************/

.menu {
    text-align: center;
    letter-spacing: 1rem;
    color: #ECF3B7;
    position: absolute;
    top: 2.2rem;
    right: 2.2rem;
    z-index: 2;
}

.menu h1 {
    font-size: 26px;
    padding-bottom: 0.75rem;
}

/*********ACCUEIL************/

#accueil {
    background-image: url("../Assets/Images/backgrounds/accueil.jpg");
    background-size: 100% 100%;
    color: #ECF3B7;
    display: flex;
    align-items: center;
    justify-content: center;
}

#accueil #oeuf {
    position: absolute;
    top: 7.5rem;
    left: 6.25rem;
    z-index: 1;
}

#accueil #chien {
    position: absolute;
    right: 16.9rem;
    top: 1.6rem;
    z-index: 1;
}

#accueil #scroll {
    position: absolute;
    bottom: 1.6rem;
    z-index: 1;
}

#accueil h1 {
    letter-spacing: 1.5rem;
    font-size: 100px;
    text-align: center;
    position: absolute;
    z-index: 2;
}

/*********PRESENTATION***********/

.presentation {
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.presentation .portrait {
    margin-bottom: 3.4rem;
    margin-left: 1.125rem;
    z-index: 1;
}

#presentation-artistes {
    background-image: url("../Assets/Images/backgrounds/presentation_bg.jpg");
    background-size: 100% 100%;
    z-index: 0;
}

#presentation-artistes .text {
    padding-left: 3.5rem;
    padding-right: 14rem;
    padding-bottom: 17.9rem;
    max-width: 44.625rem;
}

#presentation-artistes p {
    color: #ffffff;
    padding-bottom: 2rem;
    font-size: 22px;
}

#presentation-artistes h1 {
    color: #ECF3B7;
    font-size: 45px;
    margin-bottom: 2rem;
    line-height: 4.28rem;
}

#presentation-artistes #cubes {
    position: absolute;
    left: 19.43rem;
    top: -4rem;
    z-index: 3;
}

#vagues {
    position: absolute;
    bottom: 0rem;
    width: 100%;
    z-index: 1;
}

#nuages-pres {
    position: absolute;
    bottom: -0.25rem;
    width: 100%;
    z-index: 2;
}

/*************************/

#presentation-album {
    background-image: url("../Assets/Images/backgrounds/presentation_album.jpg");
    background-size: 100% 100%;
}

#presentation-album h1 {
    color: #265993;
    padding: 2.68rem 0rem 1.5rem 3.25rem;
    line-height: 4.75rem;
}

#presentation-album p {
    color: black;
    font-size: 22px;
    max-width: 860px;
    padding-left: 3.25rem;
    padding-right: 2.8rem;
    padding-bottom: 2rem;
}

#album-container {
    height: inherit;
    display: flex;
    align-items: flex-end;
}

#album-container .text{
    background-color: rgba(255, 255, 255, 0.4);
    margin-right: 10.625rem;
    margin-bottom: 4.125rem;
    max-height: 639px;
}

#album-container .img-div {
    margin-left: 3.625rem;
    margin-right: 6.375rem;
}

#presentation-album #cover-one {
    position: absolute;
    bottom: 41.125rem;
    right: 43.06rem;
}

#presentation-album #cover-two {
    position: absolute;
    bottom: 45.5rem;
    right: 22.81rem;
}

#presentation-album #cover-three {
    position: absolute;
    bottom: 35.375rem;
    right: 12.125rem;
}

#nuages-album {
    position: absolute;
    top: -0.25rem;
    width: 100%;
    z-index: 2;
}

/************************/

#tracklist {
    background-image: url("../Assets/Images/backgrounds/tracklist.jpg");
    background-size: 100% 100%;
    z-index: 1;
}

#tracklist h1 {
    text-align: center;
    color: #f5cd80;
    margin-bottom: 9.1rem;
    padding-top: 8rem;
}

#tracklist h2 {
    color: white;
    font-size: 35px;
    margin-bottom: 5rem;
}

#tracklist h2:hover {
    cursor: url("../Assets/Images/cursors/cursor_hover.png"), auto;
}

#tracklist .tracklist-container {
    display: flex;
    justify-content: space-around;
}

#tracklist .tracklist-container #first-part,
#tracklist .tracklist-container #second-part {
    display: flex;
    flex-direction: column;
}

#tracklist .tracklist-container #first-part {
    align-items: flex-end;
}

#tracklist .tracklist-container #second-part {
    align-items: flex-start;
}

#tracklist #rubikscube {
    position: absolute;
    top: -7.5rem;
    right: 20.56rem;
    z-index: 2;
}

#tracklist #fish-1 {
    position: absolute;
    right: 14.125rem;
    bottom: 17.5rem;
}

#tracklist #fish-2 {
    position: absolute;
    left: 10.25rem;
    bottom: 4.93rem;
}

/*************************/

#festivals {
    background-image: url("../Assets/Images/backgrounds/fetivals.jpg");
    background-size: 100% 100%;
}

/*************************/

#footer {
    background-image: url("../Assets/Images/backgrounds/footer.jpg");
    background-size: 100% 100%;
}

#footer #poteau {
    position: absolute;
    bottom: 6.3rem;
    left: 29rem;
    z-index: 0;
}

#footer #cracki {
    position: absolute;
    left: 25.2rem;
    bottom: 37.625rem;
    z-index: 1;
}

#footer #boutique {
    position: absolute;
    left: 39.875rem;
    bottom: 34.75rem;
    z-index: 1;
}

#footer #instagram {
    position: absolute;
    right: 23.25rem;
    bottom: 12rem;
}

#footer #facebook {
    position: absolute;
    right: 19.31rem;
    bottom: 10rem;
}

#footer #soundcloud {
    position: absolute;
    right: 14.875rem;
    bottom: 8rem;
}